
/** $VER: foo_sid.rc (2025.05.14) **/

#include "Resource.h"

#include <windows.h>
#include <afxres.h>

// English (United States) resources
language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

VS_VERSION_INFO versioninfo
fileversion     NUM_FILE_MAJOR,    NUM_FILE_MINOR,    NUM_FILE_PATCH,    NUM_FILE_PRERELEASE
productversion  NUM_PRODUCT_MAJOR, NUM_PRODUCT_MINOR, NUM_PRODUCT_PATCH, NUM_PRODUCT_PRERELEASE
fileflagsmask   0x3FL
#ifdef _DEBUG
fileflags       VS_FF_DEBUG
#else
fileflags       0
#endif
fileos          VOS_NT_WINDOWS32
filetype        VFT_DLL
filesubtype     VFT2_UNKNOWN
{
    block "StringFileInfo"
    {
        block "040904E4" // U.S. English, Multilingual character set
        {
            value "FileVersion",      STR_FILE_VERSION     "\0"
            value "FileDescription",  STR_FILE_DESCRIPTION "\0"
            value "LegalCopyright",   STR_COPYRIGHT        "\0"
            value "LegalTrademarks",                       "\0"
            value "Comments",         STR_COMMENTS         "\0"
            value "CompanyName",      STR_COMPANY_NAME     "\0"
            value "InternalName",     STR_INTERNAL_NAME    "\0"
            value "OriginalFilename", STR_FILE_NAME        "\0"
            value "ProductName",      STR_PRODUCT_NAME     "\0"
            value "ProductVersion",   STR_PRODUCT_VERSION  "\0"
        }
    }

    block "VarFileInfo"
    {
        value "Translation", 0x409, 1252    // U.S. English, Multilingual character set
    }
}

IDD_CONFIG dialogex 0, 0, 255, 229
style DS_SHELLFONT | WS_CHILD
font 8, "MS Shell Dlg", 400, 0, 1
{
    GROUPBOX "Quality", IDC_STATIC, 5, 5, 244, 40
        RTEXT           "Sample rate:",         IDC_STATIC,                                                                 23, 15, 48,   8
        COMBOBOX                                IDC_SAMPLERATE,                                                             72, 13, 47, 130, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
        LTEXT           "Hz",                   IDC_STATIC,                                                                122, 15, 10,   8

        RTEXT           "Core:",                IDC_STATIC,                                                                137, 15, 37,   8
        COMBOBOX                                IDC_SID_BUILDER,                                                           178, 13, 47, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        RTEXT           "Stereo separation:",   IDC_STATIC,                                                                  5, 29, 66,   8
        CONTROL         "",                     IDC_SLIDER_SSEP, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,  72, 29, 51,  10
        LTEXT           "%",                    IDC_TEXT_SSEP,                                                             122, 29, 37,   8

    GROUPBOX "Length", IDC_STATIC, 5, 49, 244, 93
        CONTROL         "Force all songs to play indefinitely", IDC_INFINITE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 13, 59, 130, 10

        RTEXT           "Default length:",                      IDC_STATIC,   9, 87, 58,  8
        EDITTEXT                                                IDC_DLENGTH, 71, 85, 47, 12, ES_AUTOHSCROLL | ES_WANTRETURN | WS_GROUP
        LTEXT           "m:s.ms",                               IDC_STATIC, 120, 87, 24,  8

        RTEXT           "Fade for:",                            IDC_STATIC, 143, 87, 31,  8
        EDITTEXT                                                IDC_FADE,   178, 85, 47, 12, ES_AUTOHSCROLL | ES_WANTRETURN | ES_NUMBER | WS_GROUP
        LTEXT           "ms",                                   IDC_STATIC, 227, 87, 10,  8

    GROUPBOX "Database", IDC_STATIC, 10, 73, 235, 62
        RTEXT           "Path:",    IDC_STATIC,          19, 105,  18,  8

        RTEXT           "Status:",  IDC_STATIC,          13, 121,  24,  8

        EDITTEXT                    IDC_DB_PATH,         41, 103, 160, 12, ES_AUTOHSCROLL | ES_READONLY
        PUSHBUTTON      "...",      IDC_DB_PATH_SET,    202, 103,  13, 12, WS_GROUP
        PUSHBUTTON      "Clear",    IDC_DB_PATH_CLEAR,  215, 103,  23, 12, WS_GROUP
        LTEXT           "",         IDC_DB_STATUS,       41, 121, 114,  8, NOT WS_GROUP

    GROUPBOX "Overrides", IDC_STATIC, 5, 146, 244, 78
        RTEXT           "Clock speed:",         IDC_STATIC,         13, 158,  54,  8
        COMBOBOX                                IDC_CLOCK_OVERRIDE, 71, 156, 126, 12, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        RTEXT           "SID model:",           IDC_STATIC,         13, 175,  54,  8
        COMBOBOX                                IDC_SID_OVERRIDE,   71, 173, 126, 12, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        RTEXT           "6581 filter curve:",   IDC_STATIC,      7, 192, 60, 10
        CONTROL         "",                     IDC_SLIDER_6581, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 71, 192, 126, 10
        RTEXT           "Static",               IDC_TEXT_6581, 202, 192, 36, 10

        RTEXT           "8580 filter curve:",   IDC_STATIC,      7, 209,  60, 10
        CONTROL         "",                     IDC_SLIDER_8580, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 71, 209, 126, 10
        RTEXT           "Static",               IDC_TEXT_8580, 202, 209, 36, 10
}
